<!DOCTYPE html>
<html>
  <head>
<meta charset="utf-8">
<title>Main page of spring booted cinema</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
<h1> Welcome to my lovely Cinema</h1>
<form action="main" method="get">
<p>Movies available today are: </p>
<ul >
  <li>John Wick</li>
  <li>Anchorman: The Legend of Ron Burgundy</li>
  <li>The Exorcist</li>
  <li>My Big Fat Greek Wedding</li>
  <li>2001: A Space Odyssey</li>
</ul>
  <div class="row">
    <div class="column">
      <img src="/images/john.jpg" style="width:100%">
    </div>
    <div class="column">
      <img src="/images/anchorman.jpg" style="width:60%">
    </div>
    <div class="column">
      <img src="/images/exorcist.jpg" style="width:60%">
    </div>
    <div class="column">
      <img src="/images/fat-wedding.jpg
" style="width:60%">
    </div>
    <div class="column">
      <img src="/images/2001.jpg" style="width:60%">
    </div>
  </div>
</form>
  </body>
  </html>