<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movies</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <h1>Movies and Schedules</h1>

  <div class="navigation">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/movie-page">Movies</a></li>
      <li><a href="/halls">Halls and Seats</a></li>
      <li><a href="reservation.html">Reservation</a></li>
    </ul>
  </div>


  <div id="movieList"></div>


<script src="scripts/moviesList.js"></script>
</body>
</html>